<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite222">
    <listeners>
        <listener class-name="cl.dev.testing.config.LogListener" />
    </listeners>
    <test name="TestCase - AppTest">
        <classes>
            <class name="cl.dev.testing.AppTest"/>
        </classes>
    </test>
</suite>


